#navbar-color
{
    background-color: #295f4e; 
    color:white;
    font-family: 'Open Sans', sans-serif;   
    font-size: 1.2rem;
    padding-bottom: 2%;
    
}

.name
{   
    padding: 1% 7% 3%;
    background-color: #295f4e; 
    color:white;
}
.name h1
{
    font-family: 'Long Cang', cursive;
    text-align: center;
    font-size: 3.2rem;
}
.name h3
{
    text-align: center;
    font-size: 2.8rem;
    font-family: 'Long Cang', cursive;
}


.profile
{
    text-align: center;
    padding:5% 7% 3%;
}
.profile-image
{   
    border-radius: 100%;
    width: 120px;
    height: 120px;
}
.profile-head
{
 font-family: 'Ubuntu', sans-serif;
 font-size: 2rem;   
}
.profile-description
{
    font-family: 'Open Sans', sans-serif;
    font-size:0.9rem;
}

.education
{
    padding:1% 7% 2%;
    background-color: #6db193;
    color:white;
}

.education-uni
{   padding-top:1%;
    border-style: none dashed none none;
    border-color: #323232;
}
.education-school
{   padding-top:1%;
    border-style: none none none dashed;
    border-color: #323232;
}
.education-head
{
    text-align: center;
 font-family: 'Ubuntu', sans-serif;
 font-size: 2rem;   
 padding-bottom: 3%;
}

.education-thead
{   
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.education-body
{
    padding-left:4%;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    
}

.working
{
padding: 3% 7% 1%;
}
.working-head
{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;   
    padding-bottom: 3%;
}
.working-rows
{
    height: 310px;
}
.working-thead
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;  
}

.working-body
{
    padding-left:2%;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;   
}


@media screen and (max-width: 900px)
{
                .working-head
            {
                text-align: center;
                font-family: 'Ubuntu', sans-serif;
                font-size: 1rem;   
                padding-bottom: 3%;
            }

                .working-container
                {
                    line-height: 0.95;
                    height: 650px;   
                }
                .working-thead
            {
              
                font-size: 1rem;  
            }
            .working-body
            {
                font-size: 0.8em;
            }

}




.activities
{
    padding: 3% 7% 3%;   
    background-color: #323232;
    color:white;
}
.activities-head
{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;   
    padding-bottom: 3%;   
}

.activities-thead
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;  
}

.activities-body
{
    padding-left:4%;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;   
}

.skills
{
     padding: 3% 7% 3%;   
    
}
.skills-head
{   text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;   
    padding-bottom: 3%;   
}
.skills-thead
{
    
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;   
}

.links
{
    padding: 3% 7% 3%;   
    color:white;   
    width: 100%;
    background-color: #323232;
    text-align: center;
}

a {
    color:white;
    text-decoration: none;
}
a:hover{
    color: #f4e5c2
}